{
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
